body {
  font-family: 'helvetica'
}

.container {
    max-width: 480px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logo { 
    background: url('../../../images/logo.jpg') no-repeat;
    width: 330px;
    height: 49px;
    display: block;  
    text-indent: -9999px;    
    margin-left: auto;
    margin-right: auto;
}

.date-text {
    
}

.vcenter strong {
    vertical-align: middle;
    display: inline-block;
}

.vcenter { 
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.temp {
    font-size: 1.5em;
}


.widget-row {
    border-bottom: 1px solid #eee;
    &.first {
        border-top: 1px solid #eee;
    }
    .widget {
        padding: 10px;
        // height: 180px;
        &.first {
            border-right: 1px solid #eee;
        }
    }
    .widget:nth-child(2){
        // border-left: 1px solid #eee;
        height: 100%;
    }
}

.chart-map {
    position: relative; 
    z-index: 9999;
    
    .chart-buttons {
        position: absolute;
        right: 5px;
        bottom: 15px;   
        button {     
            background: none;
        }  
    }

    .chart-zoom-buttons {
        position: absolute;
        right: 5px;
        bottom: 5px;   
        button {     
            background: none;
        }  
    }

    .chart-center-buttons {
        position: absolute;
        right: 5px;
        top: 5px;   
        button {     
            background: none;
        }  
    }

    .e-map {     
        z-index: -1 !important;  
    }

    .e-logo, .e-maptypes {
        display: none;
    }
}

.table-journey {
    border-style: none;
    th {
        font-weight: inherit;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
    }
    td {
        font-weight: bold;
        font-size: 22px;
        text-align: center;
    }
}

.table-forecasts {
    border-style: none;
    th {
        font-size: 10px;
        padding-left: 0;
        text-align: left;
        text-transform: uppercase;
    }
    td {
        font-size: 10px;
        text-align: left;
        border-bottom: 1px solid #eee;
    }
}

.jumbotron {
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    
    p {
        margin-bottom: 0;
    }
}

.btn-xlarge {
    padding: 16px 26px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-xlarge-round {
    padding: 18px 22px;
    font-size: 26px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 36px;
       -moz-border-radius: 36px;
            border-radius: 36px;
}

.dashboard-link, .dashboard-link:hover {
    color: inherit;
}

 