.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logo { 
    background: url('../../../images/logo.jpg') no-repeat;
    width: 330px;
    height: 49px;
    display: block;  
    text-indent: -9999px;    
    margin-left: auto;
    margin-right: auto;
}

.date-text {
    
}

.vcenter strong {
    vertical-align: middle;
    display: inline-block;
}

.vcenter { 
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.temp {
    font-size: 1.5em;
}


.teaser-row {
    border-bottom: 1px solid #eee;
    &.first {
        border-top: 1px solid #eee;
    }
    .teaser {
        padding: 10px;
    }
    .teaser:nth-child(2){
        // border-left: 1px solid #eee;
    }
}

.chart-map {
    height: 400px;
    .e-mapheader {
        // display: none;
    }
}
 