body {
  font-family: 'helvetica'; }

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

.logo {
  background: url("../../../images/logo.jpg") no-repeat;
  width: 330px;
  height: 49px;
  display: block;
  text-indent: -9999px;
  margin-left: auto;
  margin-right: auto; }

.vcenter strong {
  vertical-align: middle;
  display: inline-block; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.temp {
  font-size: 1.5em; }

.widget-row {
  border-bottom: 1px solid #eee; }
  .widget-row.first {
    border-top: 1px solid #eee; }
  .widget-row .widget {
    padding: 10px; }
    .widget-row .widget.first {
      border-right: 1px solid #eee; }
  .widget-row .widget:nth-child(2) {
    height: 100%; }

.chart-map {
  position: relative;
  z-index: 9999; }
  .chart-map .chart-buttons {
    position: absolute;
    right: 5px;
    bottom: 15px; }
    .chart-map .chart-buttons button {
      background: none; }
  .chart-map .chart-zoom-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px; }
    .chart-map .chart-zoom-buttons button {
      background: none; }
  .chart-map .chart-center-buttons {
    position: absolute;
    right: 5px;
    top: 5px; }
    .chart-map .chart-center-buttons button {
      background: none; }
  .chart-map .e-map {
    z-index: -1 !important; }
  .chart-map .e-logo, .chart-map .e-maptypes {
    display: none; }

.table-journey {
  border-style: none; }
  .table-journey th {
    font-weight: inherit;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase; }
  .table-journey td {
    font-weight: bold;
    font-size: 22px;
    text-align: center; }

.table-forecasts {
  border-style: none; }
  .table-forecasts th {
    font-size: 10px;
    padding-left: 0;
    text-align: left;
    text-transform: uppercase; }
  .table-forecasts td {
    font-size: 10px;
    text-align: left;
    border-bottom: 1px solid #eee; }

.jumbotron {
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px; }
  .jumbotron p {
    margin-bottom: 0; }

.btn-xlarge {
  padding: 16px 26px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }

.btn-xlarge-round {
  padding: 18px 22px;
  font-size: 26px;
  line-height: normal;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px; }

.dashboard-link, .dashboard-link:hover {
  color: inherit; }
