<div class="chart-map" ng-style="mapStyle">
    <div class="loading-feedback" ng-if="initialized === null">
        <p class="text-center temp">Laddar sjökort...</p>
    </div>
    <div class="loading-feedback" ng-if="initialized === false">
        <p class="text-center temp">Kan inte ansluta till Eniro</p>
    </div>
    <div ng-if="displayZoom">
        <div class=" pull-right">
            <div class="btn-group-vertical">
                <div class="chart-center-buttons">
                    <button ng-click="panToCenter($event)" ng-touchstart="panToCenter($event)" type="button" class="btn btn-default btn-xlarge-round">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </button>
                </div>
            </div>
            <div class="chart-zoom-buttons">
                <div class="btn-group-vertical">
                    <button ng-click="zoomOut($event)" ng-touchstart="zoomOut($event)" type="button" class="btn btn-default btn-xlarge">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button ng-click="zoomIn($event)" ng-touchstart="zoomIn($event)" type="button" class="btn btn-default btn-xlarge">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>