<div class="chart-map">
    <div class="">
        <div class="chart-buttons pull-right">
            <div class="btn-group-vertical">
                <button ng-click="zoomOut()" type="button" class="btn btn-default btn-xlarge">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button ng-click="zoomIn()" type="button" class="btn btn-default btn-xlarge">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
    </div>
</div>