<div class="row widget-row">
    <div class="widget">
        <chart display-zoom="true" map-height="{{600}}"></chart>
        <div class="row widget-row">
            <div class="widget">
                <table class="table-responsive table-sm table-journey">
                    <tr>
                        <td class="col-md-4">
                            <dl>
                                <dt>Knop</dt>
                                <dd>{{speed}}</dd>
                            </dl>
                        </td>
                        <td class="col-md-4">
                            <dl>
                                <dt>NM</dt>
                                <dd>{{distanceSeamiles}}</dd>
                            </dl>
                        </td>
                        <td class="col-md-4">
                            <dl>
                                <dt>Bäring</dt>
                                <dd>{{bearing}}</dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <dl>
                                <dt>Kompassriktning</dt>
                                <dd class="dd-small">{{compassDirection}}</dd>
                            </dl>
                        </td>
                        <td class="col-md-4">
                            <dl>
                                <dt>Latitud</dt>
                                <dd class="dd-small">{{coordinates.lat}}</dd>
                            </dl>
                        </td>
                        <td class="col-md-4">
                            <dl>
                                <dt>Longitud</dt>
                                <dd class="dd-small">{{coordinates.lng}}</dd>
                            </dl>
                        </td>
                    </tr>
                </table>
                
                <div class="man-overboard-wrapper">
                    <man-overboard></man-overboard>
                </div>
                
                <div class="row text-center" ng-if="loadingJourney">
                    <p>Laddar tripp...</p>
                </div>
                <div class="" ng-if="!journey && !loadingJourney">
                    <button type="button" ng-click="createJourney()" class="btn btn-success form-control">Skapa ny tripp</button>
                </div>
                <div class="" ng-if="journey">
                    <button type="button" ng-click="stopJourney()" class="btn btn-warning  form-control">Avsluta tripp</button>
                </div>
            </div>
        </div>
    </div>
</div>