<div class="row teaser-row">
    <div class="teaser">
        <chart display-zoom="true" map-height="{{400}}"></chart>
        <!--{{coordinates.lat}} {{coordinates.long}}-->
        <div class="row teaser-row">
            <div class="teaser">
                <table class="table-responsive table-sm table-journey">
                    <thead>
                        <tr>
                            <th class="col-md-1">SPD KTS</th>
                            <th class="col-md-1">TRIP NM</th>
                            <th class="col-md-1">TRIP KM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{speed}}</td>
                            <td>{{distanceSeamiles}}</td>
                            <td>{{distanceKm}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-responsive table-sm table-journey">
                    <thead>
                        <tr>
                            <th class="col-md-1 text-right">LAT: <strong>{{coordinates.lat}}</strong></th>
                            <th class="col-md-2 text-left">LONG: <strong>{{coordinates.long}}</strong></th>
                        </tr>
                    </thead>
                </table>
                <div class="row text-center" ng-if="loadingJourney">
                        <p>Laddar tripp...</p>
                </div>
                <div class="" ng-if="!journey && !loadingJourney">
                    <button type="button" ng-click="createJourney()" class="btn btn-success form-control">Skapa ny tripp</button>
                </div>
                <div class="" ng-if="journey">
                    <button type="button" ng-click="stopJourney()" class="btn btn-danger  form-control">Avsluta tripp</button>
                </div>
            </div>
        </div>
    </div>
</div>