<div ng-if="!errorMessage">
    <br />
    <table class="table-responsive table-sm table-forecasts">
        <thead>
            <tr>
                <th class="col-md-1">Tid</th>
                <th class="col-md-2">Väder</th>
                <th class="col-md-2">Temp.</th>
                <th class="col-md-2">Nederbörd</th>
                <th class="col-md-2">Vind</th>
                <th class="col-md-1">Åska</th>
                <th class="col-md-1">Luftf.</th>
                <th class="col-md-1">Sikt</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="forecast in forecasts">
                <td>{{forecast.time}}</td>
                <td>
                    <img src="images/weather/{{forecast.imageUrl}}.png" width="64px" height="41px">
                    <!--<p class="temp">{{forecast.temperature}}</p>-->
                </td>
                <td>{{forecast.temperature}}</td>
                <td>{{forecast.precipitation}}</td>
                <td>{{forecast.windSpeed}}</td>
                <td>{{forecast.thunderstormProbability}}</td>
                <td>{{forecast.humidity}}</td>
                <td>{{forecast.visibility}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="vertical-align-container">
    <div ng-if="errorMessage === false" class="text-center vertical-align-outer">
        <strong class="vertical-align-inner text-large">Kan inte ansluta till SMHI</strong>
    </div>
    <div ng-if="errorMessage === null" class="text-center vertical-align-outer">
        <strong class="vertical-align-inner text-large">Hämtar väderdata...</strong>
    </div>
</div>