<div class="vertical-align-container widget-wrapper">
    <div ng-if="!errorMessage">
        <div class="row">
            <div class="col-xs-6">{{weatherDescription}}</div>
            <div class="col-xs-6 text-right">{{time}}</div>
        </div>

        <div class="row">
            <div class="col-xs-6"><img class="weather-image" src="images/weather/{{imageUrl}}.png"></div>
            <div class="col-xs-6">
                <div class="text-right">
                    <div class="vertical-align-outer">
                        <p class="vertical-align-inner text-large">{{temperature}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">{{windSpeed}}</div>
        </div>
    </div>
    <div ng-if="errorMessage === false" class="text-center vertical-align-outer">
        <strong class="vertical-align-inner text-large">Kan inte ansluta till SMHI</strong>
    </div>
    <div ng-if="errorMessage === null" class="text-center vertical-align-outer">
        <strong class="vertical-align-inner text-large">Hämtar väderdata...</strong>
    </div>
</div>